<template>
  <div class="display-container">
    <div class="display">
        {{Current}}
    </div>
  </div>
</template>

<script>
export default {
  // components: {
      // Current
  // },
  data() {
    return {};
  },
  props: {
    Current: {
      type:String
    }
  }
};
</script>

<style scoped>
.display-container {
  background-color: #6b727e;
  text-align: end;
  border-radius: 0.4em;
  margin-bottom: 1em;
}
.display {
  color: white;
  padding: 3rem 0;
  border-radius: 1em;
  margin: 0 1rem;
  font-size: 2rem;
}
</style>