<template>
  <div class="keypad-container">
    <div class="keypad">
      <div class="number" @click="clear()">C</div>
      <div class="number" @click="takeValue('7')">7</div>
      <div class="number" @click="takeValue('4')">4</div>
      <div class="number" @click="takeValue('1')">1</div>
    </div>
    <div class="keypad">
      <div class="number" @click="sign()">+/-</div>
      <div class="number" @click="takeValue('8')">8</div>
      <div class="number" @click="takeValue('5')">5</div>
      <div class="number" @click="takeValue('2')">2</div>
      <div class="number" @click="takeValue('0')">0</div>
    </div>
    <div class="keypad">
      <div class="number" @click="percent()">%</div>
      <div class="number" @click="takeValue('9')">9</div>
      <div class="number" @click="takeValue('6')">6</div>
      <div class="number" @click="takeValue('3')">3</div>
      <div class="number" @click="dot()">.</div>
    </div>
    <div class="keypad">
      <div class="number" @click="divide()">/</div>
      <div class="number" @click="multiply()">*</div>
      <div class="number" @click="minus()">-</div>
      <div class="number" @click="plus()">+</div>
      <div class="number" @click="equal()">=</div>
      <div class="number">{{ firstValue }}</div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      firstValue: "",
      previous: null,
      operator: null,
      operatorClicked: false,
    };
  },
  // props: {
  //   firstValue: {
  //     type: String
  //   }
  // },
  methods: {
    clear() {
      let clear = (this.firstValue = "");
      console.log(clear);
    },
    sign() {
      let sign = this.firstValue = this.firstValue.charAt(0) === "-" ? this.firstValue.slice(1) : `-${this.firstValue}`;
      console.log(sign)
    },
    percent() {
      let percent = this.firstValue = ` ${parseFloat(this.firstValue) / 100}`;
      console.log(percent)
    },
    dot() {
      if (this.firstValue.indexOf('.') === -1) {
        this.takeValue('.')
      }
    },
    takeValue(number) {
      if (this.operatorClicked) {
        this.firstValue = "";
        this.operatorClicked = false;
      }
      this.firstValue = `${this.firstValue}${number}`;
    },
    setPrevious() {
      this.previous = this.firstValue;
      this.operatorClicked = true;
    },
    divide() {
      this.operator = (a, b) => a / b;
      this.setPrevious();
    },
    multiply() {
      let mul = (this.operator = (a, b) => a * b);
      this.setPrevious();
      console.log(mul);
    },
    minus() {
      let min = (this.operator = (a, b) => a - b);
      this.setPrevious(min);
    },
    plus() {
      let plus = (this.operator = (a, b) => a + b);
      this.setPrevious(plus);
    },
    equal() {
      let eq = (this.firstValue = `${this.operator(
        parseFloat(this.previous),
        parseFloat(this.firstValue)
      )}`);
      let eq1 = (this.previous = null);
      console.log(eq, eq1);
    },
  },
};
</script>

<style scoped>
.keypad-container {
  display: flex;
  justify-content: space-around;
  background-color: black;
}
.number {
  padding: 1rem;
  margin: 0.5em;
  height: 60px;
  width: 60px;
  background-color: #6b727e;
  border-radius: 50%;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 1.1em;
}
</style>