<template>
  <div class="calculator-container">
    <Display :Current="current" />
    <Keypad :Current="current" />
  </div>
</template> 

<script>
import Display from "./components/display.vue";
import Keypad from "./components/keypad.vue";

export default {
  components: {
    Display,
    Keypad
  },
  data() {
    return {
      current: '2',
    };
  },
};
</script>

<style scope>
body {
  font-family: -apple-system, "Segoe UI";
  display: flex;
  justify-content: center;
  margin: 1.5% auto;
}
* {
  box-sizing: border-box;
}
.calculator-container {
  padding: 1.5rem;
  background-color: black;
  border-radius: 1em;
}
</style>